header li {
  font-size: 2vh;
  width: 20vw;
}

.resource-description {
  width: 80vw;
}

.resources {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80vw;
}

.resource {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.resource-title {
  font-size: 2vh;
}

.request-form {
  width: 70vw;
}

.form-title h1 {
  text-align: center;
  font-size: 2.5vh;
}



form {
  width: 70vw;
}

footer {
  font-size: 1.3vh;
  text-align: center;
  height: 11vh;
}
