header li {
  width: 20vw;
  font-size: 2vh;
}

.resource-description {
  width: 70vw;
}

.resource {
  width: 35vw;
}

form {
  width: 60vw;
}

footer {
  font-size: 1.5vh;
}

.form-title {
  text-align: center;
}
